table,tr,td{
            border : solid black 2px;
            border-collapse: collapse;
            background-color: aqua;
        }
        th{
            background-color: green;
        }